body,
button {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  max-height: 100%;
}
