<footer class="center">
  <div class="measure">
    <small>
      Copyright &#169; <a href="{{ site.url }}">Tony Gaeta</a>, 2015
    </small>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic|Lato:900,300' rel='stylesheet' type='text/css'>

  <link href='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'>
  <!-- Fonts -->
  {% if site.show_social_icons or site.show_sharing_icons %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  {% endif %}
</footer>
