<footer class="center">
  <div class="measure">
    <small>
      Copyright &#169; <a href="{{ site.url }}">Tony Gaeta</a>, 2015
    </small>
  </div>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,300,300italic|Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="js/modernizr.js"></script>
  <!-- Fonts -->
  {% if site.show_social_icons or site.show_sharing_icons %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  {% endif %}
</footer>
